<table>
  <h1>User Info</h1>
  <%= form_with model: user do |f| %>
  <tr><%= image.tag get_image, size:"100x100", fallback:"no_image.jpg" %></tr>
  <tr>
    <h3>name</h3>
    <%= user.name %>
  </tr>
  <tr>
    <h3>introduction</h3>
    <%= user.introduction %>
  </tr>
</table>